#iconee{
    width: 25px; height:25px;
}
#menu{
    display: none;
}
.miova{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
.anarana{
    font-size: 30px;
    font-family:'Rockwell Extra Bold',Georgia, 'Times New Roman', Times, serif;
}
